[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Syner-App/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Syner-App/products-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Syner-App/orders-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Syner-App/auth-ms.git
