[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Syner-App/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Syner-App/products-ms.git
